<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> l'utilisateur ne peut pas être créé:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card" style="width:30%; margin: 0 auto; padding:20px;">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <table style="width:100%">
              <tr>
                <td style="padding: 5px;"><label>Nom :</label></td>
                <td style="padding: 5px;"><%= f.text_field :name %></td>
              </tr>
              <tr>
                <td><label>Avatar :</label></td>
                <td><%= f.text_area :img_url %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <%= f.submit %>
    </div>

<% end %>