<% if flash[:notice] %>
  <article class='message is-success'><div class='message-body'><%= flash[:notice] %></div></article>
<% end %>

<br>

<nav class="level" style="padding-right:20px; padding-left:20px;">
  <div class="level-left">
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="buttons" >
        <a href="<%= new_user_path %>" class="button is-primary">
          <strong>Nouvelle Utilisateur</strong>
        </a>
      </div>
    </div>
  </div>
</nav>


<h1 class="title" style="padding-left:20px;">Liste des utilisateurs</h1>

<div class="columns is-multiline is-mobile" style="padding-right:20px; padding-left:20px;">
  <% @users.each do |user| %>
  <div class="column is-half-mobile is-one-third-tablet is-one-third-desktop is-one-third-widescreen is-one-quarter-fullhd">
  <div class="card">
     <a href="<%= user_path(user) %>">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="<%= user.img_url %>" alt="Avatar">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= user.name %></p>
            <p class="subtitle is-6">@<%= user.name %></p>
          </div>
        </div>
      </div>
     </a>
      <footer class="card-footer">
        <a href="<%= edit_user_path(user) %>" class="card-footer-item">Modifier</a>
        <%= link_to 'Supprimer', user_path(user), method: :delete, data: { confirm: 'Etes-vous sur de vouloir le supprimer ?' }, :class => "card-footer-item" %>
      </footer>
    </div>
  </div>
  <% end %>
</div>
