<div style="margin:auto; text-align:center;">

  <br>
  <h1 class="title" style="padding-left:20px;">Nouvelle utilisateur</h1>

  <%= render 'form' %>

  <br><br>
  <b><%= link_to '← Retour', users_path, :class => "button is-primary"%></b>


</div>