<% if flash[:notice] %>
  <br>
  <article class='message is-success'><div class='message-body'><%= flash[:notice] %></div></article>
<% end %>

<div style="margin:auto; text-align:center;">

  <br>
  <h1 class="title" style="padding-left:20px;">Détails utilisateur</h1>

  <div class="card" style="width:60%; margin: 0 auto; padding:20px;">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
              <img src="<%= @user.img_url %>" alt="Avatar">
          </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= @user.name %></p>
            <p class="subtitle is-6">@<%= @user.name %></p>
        </div>
      </div>
          <div class="card">
            <div class="card-content">
              <div class="content">

                <%= form_for @tweet, url: user_tweets_path(@user) do |f| %>
                  <% if flash[:error] %>
                    <article class='message is-danger'><div class='message-body'><%= flash[:error] %></div></article>
                  <% end %>
                    <div class="field">
                      <div class="control">
                        <%= f.label :tweet %><br>
                        <%= f.text_area :tweet, :class => "textarea" %>
                      </div>
                    </div>
                    <%= f.submit "Tweeter", class: "button is-primary" %>
                <% end %>
              </div>
            </div>
          </div>

          <% @user.tweets.each do | tweet | %>
            <div class="card" style="border : solid 1px black;">
              <div class="card-content">
                <div class="content"><p><%= tweet.tweet %>
                  <br/>
                  <%= l(tweet.created_at, format: :long)%>
                </div>
              </div>
              <footer class="card-footer">
                <%= link_to 'Supprimer', user_tweet_path(id: tweet.id, user_id: @user.id), method: :delete, data: { confirm: 'Etes-vous sur de vouloir le supprimer ?' }, :class => "card-footer-item" %>
              </footer>
            </div>
            <% end %>
      </div>
        
  </div>

  <br><br>
  <b><%= link_to '← Retour', users_path, :class => "button is-primary"%></b>
  <b><%= link_to 'Modifier', edit_user_path(@user), :class => "button is-primary" %></b>
</div>

<%= link_to "Nouveau tweet", new_user_tweet_path(@user) %>

