// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usersListe{
  width:100%;
}

.user{
  display:block;
  border: solid 1px black;
  padding: 10px;
  border-radius: 4px;
}

.btnAction td a{
  text-decoration: none;
  color: red;
  padding: 10px;
  border: solid 1px black;
  border-radius: 4px;
}

.btnAction td a:hover{
  background-color: grey;
  color:white;
}

.avatar{
  height:100px;
  width:100px;
  border-radius: 20px;
}
